.popup__input {
    display: block;
    padding: 0 0 13px 0;
    width: 358px;
    margin: 30px auto 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: Inter,Arial,Helvetica,sans-serif;
}

.popup__input:nth-child(1) {
    margin-top: 54px;
}

@media screen and (max-width: 590px) {
    .popup__input {
        width: 238px;
        margin: 30px auto 0;
    }
    .popup__input:nth-child(1) {
        margin-top: 75px;
    }
}

.popup__input:focus {
    outline: none;
}